* {
  font-family: Iosevka, sans-serif;
  background: transparent;
  color: #fcfcfc;
}

#window {
  color: #fcfcfc;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #141216 100%);
  border-radius: 4px;
}

#scroll {
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 12px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #222222; /* Optional: match your theme */
}

#inner-box {
  padding-top: 1px;
}

#entry {
  border-style: none;
  border: none;
  outline: none;
  color: #fcfcfc;
  padding: 1px;
  margin-bottom: 4px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 2px;
}

#entry:nth-child(even) {
    background: #313131
}

#entry:nth-child(odd) {
    background: #2c2c2c
}
}

#entry:selected {
  background: #27232b;
  color: #fcfcfc;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #1a1a1a;
  color: #fcfcfc;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 6px;
  margin: 8px;
}

#input:focus {
  background: #222222;
  background-color: #222222;
  border-color: #017875;
  font-style: normal;
  font-size: 16px;
}

#img {
  padding: 4px;
  margin-right: 6px;
}

#entry, #window, #inner-box, #scroll {
  box-sizing: border-box;
}
