* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Inter Display, GeistMono Nerd Font";
  font-size: 18px;
  padding: 0;
}

window#waybar {
  background: #14171f;
  color: #cbd5e0;
}

tooltip {
  background-color: #14171f;;
}

#workspaces button {
  padding: 2px 2px;
  margin: 4px 4px;
  border-radius: 1px;
  color: #017875;
}

#workspaces button.focused {
  background-color: #52becc;;
  color: #14171f;
}

#workspaces button.active {
  background-color: #14171f;
  color: #52becc;
}

#battery, #tray, #clock, #cpu, #pulseaudio, #memory {
    min-width: 60px;
    padding: 2px;
  /* background-color: none; */
}

label {
    all: unset
}

.modules-right > widget > box {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0 10px;
    padding: 0 5px;
    background: transparent;
}

#cpu, #memory, #disk, #network, #clock {
    padding: 2px 8px;
    margin: 0 2px;
    transition: all 0.4s ease;
}


tooltip {
    background: rgba(30, 30, 46, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px;
}

/* Specifically target the calendar text */
tooltip label {
    font-family: "Inter Display, GeistMono Nerd Font";
    font-size: 24px;
    color: #cdd6f4;
}
